@model IEnumerable<TinyLog.LogEntry>
@{
    ViewBag.Title = "TinyLog Home Page";
}

<div class="jumbotron">
    <h1>TinyLog demo website</h1>
    <p class="lead">TinyLog is a light-weight, simple and yet very comprehensive and powerful Logging Provider for .NET Applications.</p>
    <p><a href="https://github.com/michaelrandrup/TinyLog" target="_blank" class="btn btn-primary btn-lg">View on GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success">
            <strong>Below is the log for this website</strong>. The log will expand as you click around.<br />
            The log is based on the <strong>SqlLogWriter</strong> wrapped in the <strong>LazyLogWriter</strong>, so logs are written to the backend storage after a 15-second delay<br />
            If you click on the <strong>About</strong> link, an application exception will be generated, so you can see an example, of a custom error page<br />
            You can also type in an url that doesn't exist and see how it is captured and presented by a custom error page. For example: <a class="alert-link" href="http://tinylog.azurewebsites.net/does/not/exist">http://tinylog.azurewebsites.net/does/not/exist</a> and <a class="alert-link" href="http://tinylog.azurewebsites.net/images/non-existing.pdf">http://tinylog.azurewebsites.net/images/non-existing.pdf</a>
        </div>
        
    </div>
    <div class="col-lg-12">
        <table id="tinylog" class="table">
            <thead>
                <tr>
                    <th>Created On</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Source</th>
                    <th>Area</th>
                    <th>Severity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var log in Model)
                {
                    <tr>
                        <td>@log.CreatedOn</td>
                        <td>@Html.ActionLink(log.Title,"LogEntry",new { Id = log.Id})</td>
                        <td>@log.Message</td>
                        <td>@log.Source</td>
                        <td>@log.Area</td>
                        <td>@log.Severity</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#tinylog").DataTable({
                "ordering": false
            });
        });
    </script>
    }


@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@