@using TinyLog
@model LogEntry

<div class="row">
    <div class="col-lg-12">
        <h2 class="text-danger">@Model.Title</h2>
        <h2 class="text-danger">@Model.Message</h2>
        <hr />
        <h3 class="text-warning">The following has been logged:</h3>
        <ul>
            <li><strong>Id: </strong>@Model.Id</li>
            <li><strong>Correlation Id: </strong>@Model.CorrelationId</li>
            <li><strong>Created on: </strong>@Model.CreatedOnString</li>
            <li><strong>Source: </strong>@Model.Source</li>
            <li><strong>Area: </strong>@Model.Area</li>
            <li><strong>Severity: </strong>@Model.SeverityString</li>
            <li><strong>Client: </strong>@Model.Client</li>
            <li><strong>Client info: </strong>@Model.ClientInfo</li>
            <li><strong>Error data provided by: </strong>@Model.CustomDataFormatter</li>
            <li><strong>Error data type: </strong>@Model.CustomDataType</li>
            <li><strong>Signature: </strong>@Model.Signature</li>
            <li><strong>Signature method: </strong>@Model.SignatureMethod</li>
    </ul>
</div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h4>Error data</h4>
        <pre><code>@Model.CustomData</code></pre>
    </div>
</div>



